body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#root > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 2rem 0;
}

footer.page-footer {
  margin-top: auto;
}
